= form_for message, :url => url do |f|
  = f.fields_for :comments, message.comments.build(:user => current_user) do |c|
    %div.hidden
      = c.hidden_field :user_id
    %div
      = c.label :body, 'New Comment'
      = c.text_area :body, :rows => 3
  %div
    = label_tag
    = f.submit 'Add Comment'