%section{:id => 'dashboard_messages_edit'}
  .sidebar
    .sidebar_header
      = image_tag('/assets/icons/message_60.png', :size => "60x60", :alt => "Photo")
      %h2= @message.title
    .sidebar_buttons
      = submit_tag 'Save', :form => "edit_message_#{@message.id}"
      = link_to 'Back to messages', dashboard_messages_path
  .content
    = render :partial => 'form', :locals => {:message => @message, :url => dashboard_message_path}