%span{:class => "info #{activity.trackable_type.underscore}"}
  = link_to raw("<em>#{activity.user.username}</em>"), account_user_path(activity.user)
  created
  = activity.trackable_type.downcase
  - unless activity.trackable.nil?
    = link_to activity.trackable.name, content_nav_path(activity.trackable)
  - else
    that has since been deleted
%span{:class => 'date'}
  = "#{time_ago_in_words(activity.created_at)} ago"