%section{:id => 'account_account_edit'}
  .sidebar
    .sidebar_header
      = image_tag 'icons/setting.png', :size => '48x48', :alt => @account.title
      %h2= @account.title
    .sidebar_nav
      %nav.content_nav
        %div{:class => 'selected'}
          %a{:href => '#account'} Account
        %div
          %a{:href => '#api'} API Key
    .sidebar_buttons
      = submit_tag 'Save', :form => "edit_account_#{@account.id}"
  .content
    = render :partial => 'form', :locals => {:account => @account, :url => account_account_path}