- editable ||= false
.message
  .message_header
    %h6
      = link_to message.title, dashboard_message_path(message)
    - if editable
      %span
        = link_to 'Edit', edit_dashboard_message_path(message)
        = link_to 'Delete', dashboard_message_path(message), :confirm => 'Are you sure?', :method => :delete
  .message_body
    %p= simple_format(truncate(message.body, :length => 204, :separator => ' '))
  .message_footer
    %p
      Created by
      %em= message.user.username
      on 
      = message.created_at.in_time_zone.strftime("%B #{message.created_at.day.ordinalize} at %l:%M %p")
    %p= pluralize(message.comments.count, 'comment')