%span{:class => "info #{activity.trackable_type.underscore}"}
  = link_to raw("<em>#{activity.user.username}</em>"), account_user_path(activity.user)
  commented on
  = activity.trackable_type.downcase
  - if activity.trackable.active
    = link_to activity.trackable.title, dashboard_message_path(activity.trackable)
  - else
    that has since been deleted
%span{:class => 'date'}
  = "#{time_ago_in_words(activity.created_at)} ago"