%section{:id => 'content_posts_edit'}
  .sidebar
    .sidebar_header
      = image_tag(@post.image.url, :size => "60x60", :alt => "Image")
      %h2 Edit Post
    .sidebar_nav
      %nav.content_nav
        %div{:class => 'selected'}
          %a{:href => '#post'} Post
        %div
          %a{:href => '#content'} Content
    .sidebar_buttons
      = submit_tag 'Save', :form => "edit_post_#{@post.id}"
      = link_to 'Back to posts', content_posts_path
  .content
    = render :partial => 'form', :locals => {:post => @post, :url => content_post_path}