!!!
%html
  %head
    %title Urban Finch
    = stylesheet_link_tag    "authentication", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      = image_tag 'logo_small.png', :id => 'logo'
      = render :partial => 'shared/flash'
      = yield
      .footer
        %p
          %a{:href => 'http://www.urbanfinch.com', :title => 'Urban Finch'} Urban Finch
          = "| Copyright ©#{DateTime.now.year} Urban Finch | "
          %a{:href => 'mailto:thefinch@urbanfinch.com'} Contact Us
